.participant-list-container{
    /* outline: 1px solid black; */
    max-height: 30vh !important;
    min-height: 30vh !important;
    overflow-y: scroll;
}

.add-participant-container{padding-left: 1vw !important;}