.navmenu-link:hover{
    text-decoration: none;
    background-color: red;
}

.list-group-unique{
    background-color: #fff;
    height: 90vh;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: start;
}

.navmenu-link{
    width: 100%;
    color: grey;
}

.navmenu-link:first-of-type{
    border-top: 1px solid #ccc !important;
}

.list-group-item{
    outline: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #ccc !important;
    width: 100%;
    padding-left: 3vw !important;
}