.existing-row-empty-message-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.existing-row-empty-message-image{
    width: 50%;
    height: 50%;
}

.empty-message-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-message-container img{
    margin-bottom: 2vh;
}

.empty-message-container > *:last-child{
    color: grey;
    width: 50%;
    text-align: center;
}

.empty-link{
    text-decoration: underline;
}

.existing-row-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.existing-row-header{
    display: flex;
    justify-content: space-between;
}

.create-button-dropdown{
    display: flex;
    justify-content: space-between;
}

.create-dropdown-item > *:hover{
    text-decoration: none;
}
